/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "Plain";
  src: url("../fonts/plain-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plain";
  src: url("../fonts/plain-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SilkSerif";
  src: url("../fonts/silkserif-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "SilkSerif";
  src: url("../fonts/silkserif-regularitalic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

:root {
  --primary-color: #fff;
  --secondary-color: #030303;
  --accent-color: #151515;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--primary-color);
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Plain", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;

}



.cursor {
  height: 2vw;
  width: 2vw;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.384);
  position: fixed;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 9999;
}

.main {
  width: 100%;
  height: 100%;
  background-color: #111;

}

.page1 {
  width: 100%;
  height: 100vh;
  background-color: var(--accent-color);
}





.hero:nth-child(2)::before {
  content: "01";
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--primary-color);
  top: -17%;
  right: 5%;
  font-size: 3vw;
  font-weight: 100;
  font-family: "SilkSerif";
  text-transform: uppercase;

}



.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: var(--secondary-color);
  padding: 25vh 10vw;
}


/* loader content */
.line {
  /* background-color: red; */
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 3vw;

}

.line h1 {
  font-size: 6.5vw;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Plain";
}

.line1-part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: flex-center;
      -ms-flex-pack: flex-center;
          justify-content: flex-center;
  gap: 1vw;
}

.line1-part1 h5,
.line1-part1 h6 {
  font-size: 3vw;
  font-weight: 900;
  font-family: "silkserif";
}

.line1-part1 h5 {
  /* background: red; */
  width: 5vw;
  text-align: right;
}

.line h2 {
  font-size: 5.5vw;
  text-transform: uppercase;
  font-weight: 100;
  font-family: "SilkSerif";
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;

  opacity: 0;
}

@-webkit-keyframes anime {
  0% {
    font-family: 'plain';
    font-weight: 900;
    -webkit-text-stroke: .1px var(--primary-color);
    color: #fff;
    opacity: 1;
  }


  48% {
    opacity: 0;
    font-family: 'plain';
    font-weight: 900;
    -webkit-text-stroke: .1px var(--primary-color);
    color: #fff;
  }



  50% {
    opacity: 1;
    font-family: 'silkserif';
    font-weight: 900;
    -webkit-text-stroke: .1px var(--primary-color);
    color: transparent;
  }






  100% {
    opacity: 0;
    font-family: 'silkserif';
    font-weight: 900;
    -webkit-text-stroke: .1px var(--primary-color);
    color: transparent;
  }

}

@keyframes anime {
  0% {
    font-family: 'plain';
    font-weight: 900;
    -webkit-text-stroke: .1px var(--primary-color);
    color: #fff;
    opacity: 1;
  }


  48% {
    opacity: 0;
    font-family: 'plain';
    font-weight: 900;
    -webkit-text-stroke: .1px var(--primary-color);
    color: #fff;
  }



  50% {
    opacity: 1;
    font-family: 'silkserif';
    font-weight: 900;
    -webkit-text-stroke: .1px var(--primary-color);
    color: transparent;
  }






  100% {
    opacity: 0;
    font-family: 'silkserif';
    font-weight: 900;
    -webkit-text-stroke: .1px var(--primary-color);
    color: transparent;
  }

}



.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.3vw 4.5vw;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3vw;
}


.nav-links li {
  list-style: none;
}

.nav-links li a {
  display: inline-block;
  font-size: 1vw;
  font-weight: 200;
  font-family: "Plain";
  text-decoration: none;
  color: var(--primary-color);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}



.hero {
  /* background-color: red; */
  width: 72%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero:nth-child(2) {
  margin-top: 18vh;
}

.hero h1,
h2,
h3 {
  font-size: 7.2vw;
  text-transform: uppercase;
  line-height: 7.2vw;
  font-weight: 600;
  font-family: "Plain";
}

.hero h2 {
  border-bottom: .5vw solid var(--primary-color);
  margin: 10px;
  padding-bottom: .8vw;
  transition: all ease 0.3;
  -moz-transition: all ease 0.3;
  -ms-transition: all ease 0.3;
  -o-transition: all ease 0.3;
  -webkit-transition: all ease 0.3;
}

.hero h2:hover,
.hero h3:hover {
  -webkit-text-stroke: 2px var(--primary-color);
  color: transparent;
  border-bottom: .5vw solid transparent;
  font-weight: 500;
}


.page2 {
  width: 100%;
  height: 100vh;
  background-color: var(--accent-color);
  padding-top: 7vh;
  position: relative;
}

/* .video-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
} */

.video-container {
  width: 70vw;
  height: 70vh;
  position: relative;
 
  left: 29%;
  background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
  background-size: cover;
  background-position: center;

}

#flag{
  position: absolute;
  height: 25vw;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0%;
  left: 0%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  opacity:0;
  
}

#hero3{

  z-index: 9;
}


.video-container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
}

.video-cursor {
  background-color: #ffa63d;
  height: 8vw;
  width: 8vw;
  top: -8%;
  left: 80%;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9999;
}

.video-cursor i {
  font-size: 4vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}


.page3 {
  min-height: 100vh;
  width: 100%;
  background-color: var(--accent-color);
  position: relative;
  padding: 17vh 2vw;
}

.page3 h1 {
  font-size: 7.2vw;
  text-transform: uppercase;
  line-height: 7.2vw;
  font-weight: 600;
  font-family: "Plain";
  text-align: center;
}

.page3 .underline {
  text-decoration: underline;
  height: 2px;
  width: 70%;
  background-color: var(--primary-color);
  margin: 3vh 20vw;
}


#image-div-container {
  position: relative;
  padding: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3vw;
}

.image-div {
  height: 33vw;
  width: 30vw;
  position: relative;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;

}

.image-div:nth-child(1) {
  height: 29vw;
  width: 22vw;
}

.image-div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.page3-circle {
  height: 20vw;
  width: 20vw;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;

}

.page3-circle .button__arrow {
  height: 40%;
}

.rotateCircle {
  rotate: -45deg;
}

.circle-in {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  color: var(--accent-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
  scale: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;

}

.circle-in p {

  text-align: center;
  font-size: 0.9vw;
  font-weight: 600;
  color: var(--accent-color);
  font-family: "Plain";
  width: 60%;
  scale: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.page3-circle:hover .circle-in {
  scale: 1;
}

.page3-circle:hover .circle-in p {
  scale: 1;
}

.rotateCircle:hover {
  rotate: 0deg;
}



.page4 {
  min-height: 100vh;
  width: 100%;
  /* background-color: var(--secondary-color); */
  position: relative;
  padding-top: 5vh;

}

.page4-content {
  width: 72vw;
  position: relative;
  margin-left: 28%;
}

.page4-content h1 {
  font-size: 7.2vw;
  text-transform: uppercase;
  line-height: 7.2vw;
  font-weight: 600;
  font-family: "Plain";
}

.page4-content>p {
  font-size: 2.05vw;
  width: 50%;
  font-weight: 200;
  font-family: "Plain";
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.page4 .underline {
  text-decoration: underline;
  height: 2px;
  width: 100%;
  background-color: var(--primary-color);
  margin: 3vh 0;
}

.page4-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.page4-flex img {
  width: 50%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.page4-flex p {
  font-size: 1vw;
  width: 50%;
  font-weight: 200;
  font-family: "Plain";
  padding: 0 2vw;
  margin-left: 1vw;
}

.page4-blue-box {
  background-color: #3f7df4;
  width: 33vw;
  padding: 2.5vw 3vw;
  position: relative;
  margin-top: -35vh;
  margin-left: 26vw;
}

.blue-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding: 1.7vw 0;
  border-bottom: 2px solid var(--primary-color);

}

.blue-container p {
  width: 40%;
  font-size: .8vw;
  font-weight: 200;
  font-family: "Plain";
}

.blue-container h4 {
  font-size: 1.4vw;
  font-weight: 600;
  font-family: "Plain";

}

.page5 {
  min-height: 40vh;
  width: 100%;
  background-color: var(--accent-color);
  position: relative;


}

.page5 .elem,
.elem2 {

  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: 1vw;

}

::-webkit-scrollbar {
  display: none;
}


.elem h1 {
  font-size: 6vw;
  -webkit-text-stroke: 1px var(--primary-color);
  color: transparent;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 16px;
  -webkit-animation: marqueeeCopy 12s linear infinite;
          animation: marqueeeCopy 12s linear infinite;
}

.elem2 h1 {
  font-size: 7vw;
  -webkit-text-stroke: 1px var(--primary-color);
  color: transparent;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 16px;
  -webkit-animation: marqueeeCopyReverse 15s linear infinite;
          animation: marqueeeCopyReverse 15s linear infinite;
}


.footer {

  min-height: 80vh;
  width: 100%;
  background-color: var(--accent-color);
  position: relative;
  padding-left: 28vw;
  padding-right: 2vw;
}

 #footer-text {
   position: relative;
   /* background-color: red; */
 }

#footer-text h1 {
  font-size: 7vw;
  font-weight: 600;
  font-family: "Plain";
  width: 60vw;
  text-transform: uppercase;
  position: relative;

}

#footer-text h1 span,
#footer-text h2 span {
  display: inline-block;
  will-change: opacity;
}

#footer-text h1::before {
  content: "04";
  position: absolute;
  font-size: 3vw;
  font-weight: 100;
  font-family: "SilkSerif";
  width: 60vw;
  top: 8%;
  left: -12%;
  text-transform: uppercase;
  color: var(--primary-color);
}


     #footer-text h2 {
    font-size: 7vw;
       position: absolute;
       top: 10%;
      font-weight: 600;
       opacity: 1;
       left: 0;
       font-family: "SilkSerif";
     }
  
     #footer-text h2 span {
       font-family: "SilkSerif";
       opacity: 0;
       -webkit-text-stroke: 1px #fff;
       color: transparent;
     }

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.3vw 4.5vw;
}

.footer-container h6 {
  font-size: 1vw;
  font-weight: 200;
  font-family: "Plain";
  margin-bottom: 1.5vw;
}

.footer-container h5 {
  font-size: 1.2vw;
  font-weight: 600;
  font-family: "Plain";
  margin: 0.2vh 0;
}

.footer-container .box {
  width: 20%;
}

.footer .underline {
  text-decoration: underline;
  height: 1px;
  width: 100%;
  background-color: var(--primary-color);
  margin: 2vw 0;
}

.footer>h5 {
  font-weight: 500;
  font-size: 1vw;
}

@-webkit-keyframes marqueeeCopy {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
  }
}

@keyframes marqueeeCopy {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
  }
}

@-webkit-keyframes marqueeeCopyReverse {
  0% {
    -webkit-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));

  }

  100% {
    -webkit-transform: translateX(calc(0 + 20px));
            transform: translateX(calc(0 + 20px));
  }
}

@keyframes marqueeeCopyReverse {
  0% {
    -webkit-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));

  }

  100% {
    -webkit-transform: translateX(calc(0 + 20px));
            transform: translateX(calc(0 + 20px));
  }
}



._canvas_container {
  z-index: 9999 !important;
  pointer-events: none;
}